
<p>
  <b>Description:</b>
  <%= @item.description %>
</p>


<%= image_tag @item.image.variant(
        resize_to_limit: [100, 100]
      )%>

      <%= form_with url: '/move_item'  do |form| %>
        <%= form.label :box, "Please put the box to move:" %><br/>
        <%= form.select :box, current_tenant.boxes.map(&:description).excluding(Box.find(@item.box_id).description) << ("") %>
        <%= hidden_field_tag :id, @item.id %>
        <%= hidden_field_tag :box_id, @item.box_id %>
        <%= form.submit "move" %>
     <% end %>

<%= link_to 'Edit', edit_box_item_path(@item.box, @item) %> |
<%= link_to 'Back', box_items_path(@item.box) %>
