<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="#">miBodega</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% unless current_user.present? %>  
        <li class="nav-item active">
          <%= link_to "Login", new_user_session_path , class: 'nav-link'%>
        </li>
        <li class="nav-item active">
          <%= link_to "Registrer", new_user_registration_path , class: 'nav-link'%>
        </li>

      <% else %>
        <li class="nav-item active">
          <%= link_to 'Exit', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Accounts", accounts_path,  class: 'nav-link'%>
        </li>

        <li class="nav-item">
          <%= link_to current_user.email, '#',  class: 'nav-link'%>
        </li>
          <li class="nav-item">
            <%# <%= link_to ActsAsTenant.current_tenant ? "Account: #{ActsAsTenant.current_tenant.name}" : "nada", '#',  class: 'nav-link'%>

            <%=  link_to  @account ? "Account: #{@account.name}" : ActsAsTenant.current_tenant ? "Account: #{ActsAsTenant.current_tenant.name}" : "Not account select"    , '#',  class: 'nav-link'%>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Change Account
            </a>
            <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
              <% unless current_user.accounts.nil? %>
                <% current_user.accounts.each do | account | %>
                  <a class="dropdown-item" href="#"> <%=  link_to account.name, account  %></a>
                <% end %>
              <% end %>
            </div>
          </li>
          <%# <li class="nav-item dropdown"> %>
          <%#   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> %>
          <%#     Change Box %> 
          <%#   </a> %>
          <%#   <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink"> %>
          <%#     <% unless current_tenant.nil? %1> %>
          <%#       <% current_tenant.boxes.each do | box | %1> %>
          <%#         <a class="dropdown-item" href="#"> <%=  link_to box.description, box  %1></a> %>
          <%#       <% end %1> %>
          <%#     <% end %1> %>
          <%#   </div> %>
          <%# </li> %>

      <% end %>
      </ul>
  </div>
</nav>

