<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @account.name %>
</p>

<%= link_to 'New Box', new_box_path(account_id: params[:account_id]) %>




<td><%= link_to 'Invite', account_invite_path(@account)  %></td>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
<%= link_to 'Go to Boxes', boxes_path %>
