<p id="notice"><%= notice %></p>


<h3>
  <strong>Name Account:</strong>
  <%= @account.name %>
</h3>
<p>
  <strong>Owner:</strong>
  <%# <%= User.find(current_tenant.user_id).email %1> %>
</p>
<p>
  <% if  @account.plan == "moderate"%>
    <strong>Plan:</strong> <%=@account.plan%> max 5 boxes
  <% elsif @account.plan == 'unlimitess' %> 
    <strong>Plan:</strong> <%=@account.plan%> unlimitess boxes
  <% else %>
    <strong>Plan:</strong> <%=@account.plan%> one box only
  <% end  %>
</p>

<hr>
  <%= link_to 'Go to Boxes', boxes_path %> <br>
<hr>

<%= link_to 'Invite users', account_invite_path(@account)  %><br>
<%= link_to 'Edit', edit_account_path(@account) %>  |
<%= link_to 'Back', accounts_path %> <br>
