<p id="notice"><%= notice %></p>


<h3>
  <strong>Name Account:</strong>
  <%= @account.name %>
</h3>
<p>
  <strong>Owner:</strong>
  <%# <%= User.find(current_tenant.user_id).email %1> %>
</p>
<p>

  <% if  @account.plan == "moderate"%>
    <strong>Plan:</strong> <%=@account.plan%> max 5 boxes
  <% elsif @account.plan == 'unlimitess' %> 
    <strong>Plan:</strong> <%=@account.plan%> unlimitess boxes
  <% else %>
    <strong>Plan:</strong> <%=@account.plan%> one box only
  <% end  %>
</p>
<% if current_user.id == @account.user_id %>
  <form action="/customer_portal_sessions" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <input type="submit" value="Manage billing">
  </form>
  <%= link_to 'Invite users', account_invite_path(@account), class: "btn btn-info text-light btn-sm"  %> 
<% end %>

<hr>
  <%= link_to 'Go to Boxes', boxes_path %> <br>
<hr>

<%= link_to 'Back', accounts_path %> <br>


